body{
    
    overflow-x: hidden;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(52,8,79,1) 100%);
    
}
.container{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%); /*küçültüğünde boyutu değişmesin diye*/
    width:1000px;
    height:600px;
    padding:50px;
    background-color: #f5f5f5;
   
    
}
#slide{
    width:max-content;
    margin-top:50px;
}
.item {

    margin-top: 20%;
    font-size: 118%;
    animation:showcontent 0.8s ease-in-out 1 forwards    
    

}
.item img {
     width: 450px;
     float:right ;
     margin-top: -25%;
     animation:showcontent 0.8s ease-in-out 1 forwards
}
.item:nth-child(1),
.item:nth-child(2){
    left:0;
    top:0;
    transform: translate(0,0);
    border-radius: 0;
    width:100%;
    height:100%;
    box-shadow: none;
}
.item:nth-child(3){
    left:50%;
}
.item:nth-child(4){
    left:calc(50% + 220px);
}
.item:nth-child(5){
    left:calc(50% + 440px);
}
.item:nth-child(n+6){
    left:calc(50% + 660px);
    opacity: 0;
}


@keyframes showcontent{
    from{
        opacity: 0;
        transform: translate(0,100px);
        filter:blur(33px);
    }to{
        opacity: 1;
        transform: translate(0,0);
        filter:blur(0);
    }
}
.buttons{
    position: absolute;
    margin-top: 8%;
    z-index: 222222;
    text-align: center;
    width:100%;
    animation:showcontent 0.8s ease-in-out  1 forwards;
}
.buttons button{
    width:50px;
    height:50px;
    border-radius: 50%;
    border: 1px solid black;
    transition: 0.5s;
   
}.buttons button:hover{
    background-color: #b4b4b4;
}

